@model Refosus.Web.Models.MenuViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1>Detalles</h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-12 connectedSortable">
                <div class="card card-primary">
                    <div class="card-header">
                        <a class="card-title">Detalles de la sede</a>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="form-group col-sd-9">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.Name)</label>
                                    <input class="form-control" value="  @Html.DisplayFor(model => model.Name)" disabled>
                                </div>
                                <div class="form-group col-sd-9">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.Controller)</label>
                                    <input class="form-control" value="  @Html.DisplayFor(model => model.Controller)" disabled>
                                </div>
                                <div class="form-group col-sd-9">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.Action)</label>
                                    <input class="form-control" value="  @Html.DisplayFor(model => model.Action)" disabled>
                                </div>
                                <div class="form-group col-sd-9">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.LogoPath)</label>
                                    <input class="form-control" type="file" value="  @Html.DisplayFor(model => model.LogoPath)" disabled>
                                </div>
                                <div class="form-group col-sd-9">
                                    <label class="control-label">@Html.DisplayNameFor(model => model.Menus)</label>
                                    <select asp-for="MenuId" asp-items="Model.Menus" class="form-control" disabled></select>
                                </div>

                                <div class="form-group col-sd-1">
                                    <label class="control-label">
                                        @Html.DisplayNameFor(model => model.IsActive)
                                        @if (Html.DisplayTextFor(model => model.IsActive) == "True")
                                        {
                                            <input checked="checked" class=" control-label form-control text-center" disabled="enable" type="checkbox">
                                        }
                                        else
                                        {
                                            <input checked="checked" class=" control-label form-control text-center" disabled="disabled" type="checkbox">
                                        }
                                    </label>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                @if (!string.IsNullOrEmpty(Model.LogoPath))
                                {
                                    <br />
                                    <br />
                                    <img src="@Url.Content(Model.LogoPath)" alt="Image" class="img-fluid" />
                                }
                            </div>
                        </div>
                        <div class="card-footer ">
                            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning col-sm-2"> Editar</a>
                            <a asp-action="Index" class="btn btn-success col-sm-2 ">Listado</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}



