@model IEnumerable<Refosus.Web.Data.Entities.CaseEntity>
@{
    ViewData["Title"] = "CASOS";
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}
<br />
<div class="container col-md-11">
    <br />
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Menu">Nativa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Casos y mantenimiento</li>
        </ol>
    </nav>
    <a asp-controller="Cases" asp-action="Create" class="btn btn-outline-info" role="button">Agregar nuevo caso</a>
    <a asp-controller="Cases" asp-action="Create" class="btn btn-outline-info" role="button">Agregar un tipo de caso</a>
    <a asp-controller="Cases" asp-action="Create" class="btn btn-outline-info" role="button">Agregar una unidad de negocio</a>
    <a asp-controller="Cases" asp-action="Thrash" class="btn btn-outline-warning" role="button">Papelera</a>
    <div class="card mt-2">
        <div class="card-header">
            <center><h3>Casos registrados</h3></center>
        </div>
        <div class="card-body table-responsive">
            <table id="index" class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tema</th>
                        <th>Codigo</th>
                        <th>Remitente</th>
                        <th>Responsable</th>
                        <th>Estado</th>
                        <th>Fecha limite</th>
                        <th>Detalles</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                        @if (User.IsInRole("maintenanceAdministrator"))
                        {
                            <th>Solucionar</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var g in Model)
                    {
                    <tr>
                        <td>@g.Id</td>
                        <td>@g.Issue</td>
                        <td>@g.Code</td>
                        <td>@g.Sender</td>
                        <td>@g.Responsable</td>
                        @if (g.Status == 1)
                        {
                            <td><span class="badge bg-info">Abierto</span></td>
                        }
                        else if (g.Status == 2)
                        {
                            <td><span class="badge bg-success">Cerrado</span></td>
                        }
                        else
                        {
                            <td><span class="badge bg-warning">Vencido</span></td>
                        }
                        <td>@g.DeadLine</td>
                        <td><a asp-controller="Cases" asp-action="Details" asp-route-id="@g.Id"><span style="color:dimgrey"><i class="fas fa-eye fa-2x"></i></span></a></td>
                        <td><a asp-controller="Cases" asp-action="Edit" asp-route-id="@g.Id"><span style="color:lightskyblue"><i class="far fa-edit fa-2x"></i></span></a></td>
                        <td><a asp-controller="Cases" asp-action="Delete" asp-route-id="@g.Id"><span style="color:red"><i class="far fa-trash-alt fa-2x"></i></span></a></td>
                        @if (g.Status == 1 || g.Status == 3)
                        {
                            if (User.IsInRole("maintenanceAdministrator"))
                            {
                                <td><a asp-controller="Cases" asp-action="Solution" asp-route-id="@g.Id"><span style="color:lawngreen"><i class="fas fa-check-circle fa-2x"></i></span></a></td>
                            }
                        }
                        else
                        {
                            if (User.IsInRole("maintenanceAdministrator"))
                            {
                                <td><span style="color: dimgrey"><i class="fas fa-check-circle fa-2x"></i></span></td>
                            }
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#index').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sProcessing": "Procesando...",
                }
            });
        });
    </script>
}