@model IEnumerable<Refosus.Web.Data.Entities.RoleMenuEntity>




@foreach (var item in Model)
{
    int count = 0;
    foreach (var item2 in Model)
    {
        if (item.Menu.Id == item2.Menu.Menu.Id)
        {
            count++;
        }
    }

    if (count >= 1)
    {
        <li class="nav-item has-treeview ">
            <a href="#" class="nav-link">
                @if (!string.IsNullOrEmpty(item.Menu.LogoPath))
                {
                    <img src="@Url.Content(item.Menu.LogoPath)" alt="Image" style="width:25px;height:25px;" />
                }
                <p>
                    @item.Menu.Name
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                @foreach (var item2 in Model)
                {
                    if (item2.Menu.Menu.Id == item.Menu.Id)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="@item2.Menu.Controller" asp-action="@item2.Menu.Action">
                                @if (!string.IsNullOrEmpty(item2.Menu.LogoPath))
                                {
                                    <img src="@Url.Content(item2.Menu.LogoPath)" alt="Image" style="width:25px;height:25px;" />
                                }
                                <p>@item2.Menu.Name</p>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>
    }
    else
    {
        if (item.Menu.Menu.Id.Equals(1))
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="@item.Menu.Controller" asp-action="@item.Menu.Action">
                    @if (!string.IsNullOrEmpty(item.Menu.LogoPath))
                    {
                        <img src="@Url.Content(item.Menu.LogoPath)" alt="Image" style="width:25px;height:25px;" />
                    }
                    <p>@item.Menu.Name</p>
                </a>
            </li>
        }
    }
}


