@model IEnumerable<Refosus.Web.Data.Entities.NewEntity>
@{
    ViewData["Title"] = "Home Page";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Refosus WEB</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                @if (item.Public == true)
                {
                    <div class="col-lg-@item.Size ">
                        <div class="card card-@item.Colour ">
                            <div class="card-header">
                                <h3 class="card-title">@item.Title </h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                @if (item.Content != null)
                                {
                                    @item.Content
                                }
                                @if (item.Content != null)
                                {
                                    <br />
                                }
                                @if (!string.IsNullOrEmpty(item.LogoPath))
                                {
                                    <img src="@Url.Content(item.LogoPath)" class="img-fluid" alt="Responsive image">
                                }
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    if (User.Identity.IsAuthenticated)
                    {
                        <div class="col-lg-@item.Size ">
                            <div class="card card-@item.Colour ">
                                <div class="card-header">
                                    <h3 class="card-title">@item.Title </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    @if (item.Content != null)
                                    {
                                        @item.Content
                                    }
                                    @if (item.Content != null)
                                    {
                                        <br />
                                    }
                                    @if (!string.IsNullOrEmpty(item.LogoPath))
                                    {
                                        <img src="@Url.Content(item.LogoPath)" class="img-fluid" alt="Responsive image">
                                    }
                                </div>
                                <div class="card-footer">
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</section>


