@model IEnumerable<Refosus.Web.Data.Entities.GeneralDocumentCategoryEntity>
@{
    ViewData["Title"] = "CATEGORIAS DOCUMENTOS GENERALES";
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}
<br />
<div class="container col-md-11">
    <br />
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Menu">Nativa</a></li>
            <li class="breadcrumb-item active" aria-current="page">Categorias de documentos generales</li>
        </ol>
    </nav>
    <a asp-controller="GeneralDocumentsCategories" asp-action="Create" class="btn btn-outline-info" role="button">Agregar nueva categoria</a>
    <div class="card mt-2">
        <div class="card-header">
            <center><h3>Categorias de documentos generales</h3></center>
        </div>
        <div class="card-body table-responsive">
            <div class="row">
                @foreach (var g in Model)
                {
                    <div class="card ml-3" style="width: 18rem;">
                        <div class="card-header">
                            <h5 class="card-title">@g.Name</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">@g.Description.</p>
                            <hr />
                            <a asp-controller="GeneralDocuments" asp-action="ByCategorie" asp-route-id="@g.Id" class="btn btn-outline-info" role="button">Ver documentos generales</a>
                        </div>
                        <div class="card-footer">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a asp-controller="GeneralDocumentsCategories" asp-action="Edit" asp-route-id="@g.Id" class="btn btn-outline-primary" role="button">Editar</a>
                                <a asp-controller="GeneralDocumentsCategories" asp-action="Delete" asp-route-id="@g.Id" class="btn btn-outline-danger" role="button">Eliminar</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>