@model Refosus.Web.Data.Entities.MessageEntity
<div class="row">
    @if (Model.Type.Name != "Factura")
    {
        <div class="col col-md-12">
            <div class="row">
                <div class="form-group col col-sd-4">
                    <label class="control-label">Consecutivo</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.Id)" disabled>
                </div>
                <div class="form-group col col-sd-4">
                    <label class="control-label">@Html.DisplayNameFor(model => model.Sender)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.Sender)" disabled>
                </div>
                <div class="form-group col col-sd-4">
                </div>
            </div>
            <div class="row">

                <div class="form-group col col-sd-4">
                    <label class="control-label">@Html.DisplayNameFor(model => model.Reference)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.Reference)" disabled>
                </div>
                <div class="form-group col col-sd-4">
                    <label class="control-label">@Html.DisplayNameFor(model => model.Type.Name)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.Type.Name)" disabled>
                </div>
            </div>
            <div class="row">
                <div class="form-group col col-sd-6">
                    <label class="control-label">@Html.DisplayNameFor(model => model.CreateDateLocal)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.CreateDateLocal)" disabled>
                </div>
                <div class="form-group col col-sd-6">
                    <label class="control-label">@Html.DisplayNameFor(model => model.UpdateDateLocal)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.UpdateDateLocal)" disabled>
                </div>
            </div>
            <div class="row">
                <div class="form-group col col-sd-6">
                    <label class="control-label">@Html.DisplayNameFor(model => model.State)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.State.Name)" disabled>
                </div>
                <div class="form-group col col-sd-6">
                    <label class="control-label">@Html.DisplayNameFor(model => model.User.FullName)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.User.FullName)" disabled>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-6">
            <div class="row">
                <div class="form-group col col-sd-6">
                    <label class="control-label">Consecutivo</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.Id)" disabled>
                </div>
                <div class="form-group col col-sd-6">
                    <label class="control-label">@Html.DisplayNameFor(model => model.Sender)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.Sender)" disabled>
                </div>
            </div>
            <div class="row">

                <div class="form-group col col-sd-4">
                    <label class="control-label">@Html.DisplayNameFor(model => model.Reference)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.Reference)" disabled>
                </div>
                <div class="form-group col col-sd-4">
                    <label class="control-label">@Html.DisplayNameFor(model => model.Type.Name)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.Type.Name)" disabled>
                </div>
            </div>
            <div class="row">
                <div class="form-group col col-sd-6">
                    <label class="control-label">@Html.DisplayNameFor(model => model.CreateDateLocal)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.CreateDateLocal)" disabled>
                </div>
                <div class="form-group col col-sd-6">
                    <label class="control-label">@Html.DisplayNameFor(model => model.UpdateDateLocal)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.UpdateDateLocal)" disabled>
                </div>
            </div>
            <div class="row">
                <div class="form-group col col-sd-6">
                    <label class="control-label">@Html.DisplayNameFor(model => model.State)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.State.Name)" disabled>
                </div>
                <div class="form-group col col-sd-6">
                    <label class="control-label">@Html.DisplayNameFor(model => model.User.FullName)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.User.FullName)" disabled>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="row">
                <div class="form-group col col-sd-6">
                    <label class="control-label">@Html.DisplayNameFor(model => model.UserAut)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.UserAut.FullName)" disabled>
                </div>
                <div class="form-group col col-sd-6">
                    <label class="control-label">@Html.DisplayNameFor(model => model.UserPros)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.UserPros.FullName)" disabled>
                </div>
            </div>
            <div class="row">
                <div class="form-group col col-sd-6">
                    <label class="control-label">@Html.DisplayNameFor(model => model.DateAutLocal)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.DateAutLocal)" disabled>
                </div>
                <div class="form-group col col-sd-6">
                    <label class="control-label">@Html.DisplayNameFor(model => model.DateProcessLocal)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.DateProcessLocal)" disabled>
                </div>
            </div>
            <div class="row">
                <div class="form-group col col-sd-6">
                    <label class="control-label">@Html.DisplayNameFor(model => model.StateBill)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.StateBill.Name)" disabled>
                </div>
                <div class="form-group col col-sd-6">
                    <label class="control-label">@Html.DisplayNameFor(model => model.Value)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.Value)" disabled>
                </div>
            </div>
            <div class="row">
                <div class="form-group col col-sd-6">
                    <label class="control-label">@Html.DisplayNameFor(model => model.Ceco)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.Ceco.Name)" disabled>
                </div>
                <div class="form-group col col-sd-6">
                    <label class="control-label">@Html.DisplayNameFor(model => model.NumberBill)</label>
                    <input class="form-control" value="  @Html.DisplayFor(model => model.NumberBill)" disabled>
                </div>
            </div>
        </div>
    }
    <div class="col col-md-12">
        <div class="row">
            <div class="form-group col col-sd-6">
                <label class="control-label">@Html.DisplayNameFor(model => model.Observation)</label>
                <textarea class="form-control" disabled>@Html.DisplayFor(model => model.Observation)</textarea>
            </div>
        </div>
        </div>
        </div>
