@model Refosus.Web.Data.Entities.MessagetransactionEntity
@{
    ViewData["Title"] = "DetailsTransaction";
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-12 connectedSortable">
                <div class="card card-primary">
                    <div class="card-header">
                        <a class="card-title">Detalles de la Transacción</a>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col col-sd-4">
                                <label class="control-label">@Html.DisplayNameFor(model => model.UpdateDateLocal)</label>
                                <input class="form-control" value="  @Html.DisplayFor(model => model.UpdateDateLocal)" disabled>
                            </div>
                            <div class="form-group col col-sd-4">
                                <label class="control-label">@Html.DisplayNameFor(model => model.UserCreate)</label>
                                <input class="form-control" value="  @Html.DisplayFor(model => model.UserCreate.FullName)" disabled>
                            </div>
                            <div class="form-group col col-sd-4">
                                <label class="control-label">@Html.DisplayNameFor(model => model.UserUpdate)</label>
                                <input class="form-control" value="  @Html.DisplayFor(model => model.UserUpdate.FullName)" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col col-sd-4">
                                <label class="control-label">@Html.DisplayNameFor(model => model.StateCreate)</label>
                                <input class="form-control" value="  @Html.DisplayFor(model => model.StateCreate.Name)" disabled>
                            </div>
                            <div class="form-group col col-sd-4">
                                <label class="control-label">@Html.DisplayNameFor(model => model.StateUpdate)</label>
                                <input class="form-control" value="  @Html.DisplayFor(model => model.StateUpdate.Name)" disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col col-sd-6">
                                <label class="control-label">@Html.DisplayNameFor(model => model.Observation)</label>
                                <textarea class="form-control" disabled>@Html.DisplayFor(model => model.Observation)</textarea>
                            </div>
                            <div class="form-group col col-sd-6">
                                <label class="control-label">@Html.DisplayNameFor(model => model.Description)</label>
                                <textarea class="form-control" disabled>@Html.DisplayFor(model => model.Description)</textarea>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <a asp-action="DetailsMeMessage" asp-route-id="@Model.Message.Id" class="btn btn-danger col-sm-2 ">Cancelar</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>