@model Refosus.Web.Data.Entities.MessageEntity
@{
    ViewData["Title"] = "DetailsMeHistory";
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <section class="col col-lg-12 connectedSortable">
                <div class="card card-primary">
                    <div class="card-header">
                        <a class="card-title">Detalles de la correspondencia</a>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <partial name="_DetailsMessage" />
                    </div>
                    <div class="card-footer ">
                        <div class="col col-12">
                            <a asp-action="IndexMeHistory" class="btn btn-danger col-sm-2 ">Cancelar</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <partial name="_DetailsTables" />
        @*tabla de transacciones*@
        <div class="row">
            <section class="col-lg-12 connectedSortable">
                <div class="card card-green">
                    <div class="card-header">
                        <a class="card-title">Historial de Transacciones</a>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table table-hover table-striped display" id="tblDatos">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Transaction.FirstOrDefault().UpdateDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Transaction.FirstOrDefault().UserCreate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Transaction.FirstOrDefault().UserUpdate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Transaction.FirstOrDefault().StateCreate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Transaction.FirstOrDefault().StateUpdate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Transaction.FirstOrDefault().Observation)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Transaction.OrderBy(d => d.UpdateDate))
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UpdateDateLocal)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UserCreate.FullName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UserUpdate.FullName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.StateCreate.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.StateUpdate.Name)
                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Observation)
                                                </td>
                                                <td>
                                                    <a asp-action="DetailsMeHistoryTransaction" asp-route-id="@item.Id" class="btn btn-info"><i class="oi oi-list" style="color:white"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
        $(document).ready(function () {
            $('#tblDatos').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sProcessing": "Procesando...",
                }
            });
            $('#tblDatos1').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "sProcessing": "Procesando...",
                }
            });
        });
    </script>
}

