@model Refosus.Web.Models.MessageViewModel
@{
    ViewData["Title"] = "EditMeMessage";
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-12 connectedSortable">
                <form asp-action="EditMeMessage" enctype="multipart/form-data">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col col-sm-6">
                                    <a class="card-title">Actualizar Mensajeria</a>
                                </div>
                                <div class="col col-sm-2">

                                </div>
                                <div class="col col-sm-3 text-right">
                                    @if (Model.Type != null)
                                    {
                                        @if (Model.Type.Name == "Factura")
                                        {
                                            <button type="button" data-id="@Model.Id" class="btn btn-warning  receiveItem " data-toggle="modal" data-target="#InfoBillDialog">Informacion de la Factura</button>
                                        }
                                    }

                                </div>
                                <div class="col col-sm-1">
                                    <div class="card-tools text-right">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    </div>

                                    <div class="row">

                                        <input type="hidden" asp-for="CreateDate" />
                                        <input type="hidden" asp-for="StateIdOld" />
                                        <input type="hidden" asp-for="SenderUser" />

                                        <div class="form-group col col-sm-4">
                                            <label asp-for="Id" class="control-label">Consecutivo</label>
                                            <input asp-for="Id" class="form-control" disabled />
                                            <span asp-validation-for="Id" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col col-sm-4">
                                            <label asp-for="StateId" class="control-label"></label>
                                            <select asp-for="StateId" asp-items="Model.MessageState" class="form-control" disabled></select>
                                            <span asp-validation-for="StateId" class="text-danger"></span>
                                        </div>

                                    </div>
                                    <partial name="_Message" />

                                </div>
                                <div class="col-sm-5">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <div class="row">
                                <div class="col col-8">
                                    @if (Model.Type != null)
                                    {
                                        @if (Model.Type.Name == "Factura")
                                        {
                                            @if (Model.State.Name != "Tramitado")
                                            {
                                                <input type="submit" value="Actualizar" class="btn btn-primary col-sm-2" id="btnRefresh" />
                                                @if (User.IsInRole("MessageBillChecker") || User.IsInRole("Administrator"))
                                                {
                                                    <button type="button" data-id="@Model.Id" class="btn btn-success col-sm-2 checkItem" data-toggle="modal" data-target="#CheckDialog">Visto Bueno</button>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            @if (Model.Type.Name == "Paquete")
                                            {
                                                @if (Model.State.Name == "En Transito")
                                                {
                                                    <input type="submit" value="Actualizar" class="btn btn-primary col-sm-2" id="btnRefresh" />
                                                    <button data-id="@Model.Id" type="button" class="btn btn-warning col-sm-2 receiveItem" data-toggle="modal" data-target="#RecPacDialog">Recibir</button>
                                                }
                                            }
                                            else
                                            {
                                                @if (Model.State.Name == "Ingresado")
                                                {
                                                    <input type="submit" value="Actualizar" class="btn btn-primary col-sm-2" id="btnRefresh" />
                                                    <button type="button" data-id="@Model.Id" class="btn btn-warning col-sm-2 receiveItem" id="btnReceive">Recibir</button>
                                                }
                                                @if (Model.State.Name == "Recibido")
                                                {
                                                    <input type="submit" value="Actualizar" class="btn btn-primary col-sm-2" id="btnRefresh" />
                                                    <button data-id="@Model.Id" type="button" class="btn btn-danger col-sm-2 closeItem" data-toggle="modal" data-target="#closeDialog">Cerrar</button>
                                                }

                                            }
                                        }
                                    }
                                    <a asp-action="IndexMe" class="btn btn-danger col-sm-2 ">Cancelar</a>
                                </div>
                                <div class="col col-4">

                                </div>
                            </div>
                        </div>

                    </div>

                    <partial name="_CloseMessageDialog" />
                    <partial name="_CloseMessagePackage" />
                    <partial name="_Bill" />
                    <partial name="_CheckMessageDialog" />
                </form>
            </section>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })

        $(document).ready(function () {
            document.getElementById("StateId").disabled = true;
            document.getElementById("StateIdOld").value = document.getElementById("StateId").value;

            var item_to_ReceiveMessage;
            var note;
            var temp;


            //Recibir Paquete
            //Capturar Datos
            $('.receiveItem').click((e) => {
                item_to_ReceiveMessage = e.currentTarget.dataset.id;
                note = document.getElementById("Transaction_Observation").value;
            });
            //Operacion
            $("#btnYesPackage").click(function () {
                if ($('#Transaction_Observation').val().length == 0) {
                    alert('El campo de observaciones es obligatorio');
                    return false;
                }
                else {
                    window.location.href = '/Messages/ReceiveMeMessage?id=' + item_to_ReceiveMessage + "&" + "note=" + note;
                }
            });
            //Operacion Recibir Factura
            $("#btnReceiveBill").click(function () {
                if ($('#Transaction_Observation').val().length == 0) {
                    alert('El campo de observaciones es obligatorio');
                    return false;
                }
                else {
                    window.location.href = '/Messages/ReceiveMeMessage?id=' + item_to_ReceiveMessage + "&" + "note=" + note;
                }
            });

            //Operacion Factura
            $("#btnReceive").click(function () {
                if ($('#Transaction_Observation').val().length == 0) {
                    alert('El campo de observaciones es obligatorio');
                    return false;
                }
                else {
                    window.location.href = '/Messages/ReceiveMeMessage?id=' + item_to_ReceiveMessage + "&" + "note=" + note;
                }
            });



            //Cerrar Elemento
            var item_to_closeMessage;
            //Capturar Datos
            $('.closeItem').click((e) => {
                item_to_closeMessage = e.currentTarget.dataset.id;
                note = document.getElementById("Transaction_Observation").value;
            });
            //Operacion
            $("#btnYesDelete").click(function () {
                window.location.href = '/Messages/FinishedMeMessage?id=' + item_to_closeMessage + "&" + "note=" + note;
            });


            //Capturar Datos
            $('.AuthorizeItem').click((e) => {
                item_to_ReceiveMessage = e.currentTarget.dataset.id;
                note = document.getElementById("Transaction_Observation").value;
            });
            //Autorizar Factura
            $("#btnAuthorize").click(function () {
                if ($('#Transaction_Observation').val().length == 0) {
                    alert('El campo de observaciones es obligatorio');
                    return false;
                }
                else {
                    if (temp == 1) {
                        alert('Antes de autorizar debe guardar los cambios generados.');
                        return false;
                    }
                    else {
                        window.location.href = '/Messages/AuthorizeMeMessageBill?id=' + item_to_ReceiveMessage + "&" + "note=" + note;
                    }
                }
            });

            //Autorizar Rechazar
            $("#btnRefuse").click(function () {
                if ($('#Transaction_Observation').val().length == 0) {
                    alert('El campo de observaciones es obligatorio');
                    return false;
                }
                else {
                    window.location.href = '/Messages/RefuseMeMessageBill?id=' + item_to_ReceiveMessage + "&" + "note=" + note;
                }
                

            });
            //Capturar Datos
            $('.RefuseItem').click((e) => {
                item_to_ReceiveMessage = e.currentTarget.dataset.id;
                note = document.getElementById("Transaction_Observation").value;
            });


            //Visto Bueno
            //Capturar Datos
            $('.checkItem').click((e) => {
                    item_to_ReceiveMessage = e.currentTarget.dataset.id;
                    note = document.getElementById("Transaction_Observation").value;
            });
            //Operacion
            $("#btnYesCheck").click(function () {
                if ($('#Transaction_Observation').val().length == 0) {
                    alert('El campo de observaciones es obligatorio');
                    return false;
                }
                else {
                    window.location.href = '/Messages/CheckMeMessageBill?id=' + item_to_ReceiveMessage + "&" + "note=" + note;
                }
            });









            //Capturar Datos
            $('.FinishedItem').click((e) => {
                item_to_ReceiveMessage = e.currentTarget.dataset.id;
                note = document.getElementById("Transaction_Observation").value;
            });
            //Autorizar Cerrar
            $("#btnFinished").click(function () {
                if ($('#Transaction_Observation').val().length == 0) {
                    alert('El campo de observaciones es obligatorio');
                    return false;
                }
                else {
                    if ($('#NumberBill').val().length == 0) {
                        alert('El campo de Consecutivo de Factura es obligatorio');
                        return false;
                    }
                    else {
                        if (document.getElementById("CecoId").value == 0) {
                            alert('Debe Seleccionar un Centro de Costos');
                            return false;
                        }
                        else {
                            if (temp == 1) {
                                alert('Antes de cerrar debe guardar los cambios generados.');
                                return false;
                            }
                            else {
                                window.location.href = '/Messages/FinishedMeMessage?id=' + item_to_ReceiveMessage + "&" + "note=" + note;
                            }
                        }
                    }
                }
            });


            $("#btnRefresh").click(function () {
                document.getElementById("TypeId").disabled = false;
            });

            $("#btnRefresh").click(function () {
                document.getElementById("StateId").disabled = false
            });

            
            
            
            
            $("#Sender").change(function () {
                temp = 1;
            });
            $("#Reference").change(function () {
                temp = 1;
            });
            $("#CreateUser").change(function () {
                temp = 1;
            });
            $("#File").change(function () {
                temp = 1;
            });
            $("#NumberBill").change(function () {
                temp = 1;
            });
            $("#CecoId").change(function () {
                temp = 1;
            });
                });
    </script>
}