@model Refosus.Web.Models.MessageViewModel
@{
    ViewData["Title"] = "EditMeMessage";
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <section class="col-lg-12 connectedSortable">
                <form asp-action="EditMeMessage" enctype="multipart/form-data">
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col col-sm-6">
                                    <a class="card-title">Actualizar Mensajeria</a>
                                </div>
                                <div class="col col-sm-2">

                                </div>
                                <div class="col col-sm-3 text-right">
                                    @if (Model.Type != null)
                                    {
                                        @if (Model.Type.Name == "Factura")
                                        {
                                            <button type="button" data-id="@Model.Id" class="btn btn-warning  receiveItem " data-toggle="modal" data-target="#InfoBillDialog">Informacion de la Factura</button>
                                        }
                                    }

                                </div>
                                <div class="col col-sm-1">
                                    <div class="card-tools text-right">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    </div>

                                    <div class="row">

                                        <input type="hidden" asp-for="CreateDate" />
                                        <input type="hidden" asp-for="UpdateDate" />
                                        <input type="hidden" asp-for="StateIdOld" />
                                        <input type="hidden" asp-for="SenderUser" />
                                        <input type="hidden" asp-for="DateAut" />
                                        <input asp-for="Operation" class="form-control" hidden />

                                        <div class="form-group col col-sm-4">
                                            <label asp-for="Id" class="control-label">Consecutivo</label>
                                            <input asp-for="Id" class="form-control" disabled />
                                            <span asp-validation-for="Id" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col col-sm-4">
                                            <label asp-for="CompanyId" class="control-label"></label>
                                            <select asp-for="CompanyId" asp-items="Model.Companies" class="form-control" disabled></select>
                                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col col-sm-4">
                                            <label asp-for="StateId" class="control-label"></label>
                                            <select asp-for="StateId" asp-items="Model.MessageState" class="form-control" disabled></select>
                                            <span asp-validation-for="StateId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <partial name="_Message" />

                                </div>
                                <div class="col-sm-5">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <div class="row">
                                <div class="col col-8">
                                    @if (Model.Type != null)
                                    {
                                        @if (Model.Type.Name == "Factura")
                                        {
                                            @if (Model.State.Name != "Tramitado")
                                            {
                                                <input type="submit" value="Guardar" class="btn btn-primary col-sm-2" id="btnRefresh" />
                                                @if (User.IsInRole("MessageBillChecker") || User.IsInRole("Administrator"))
                                                {
                                                    <button type="button" data-id="@Model.Id" class="btn btn-success checkItem col-sm-2" data-toggle="modal" data-target="#CheckDialog">Visto Bueno</button>
                                                }
                                            }
                                            @if (Model.StateBill != null)
                                            {
                                                @if (Model.StateBill.Name == "Nuevo")
                                                {
                                                    @if (User.IsInRole("MessageBillAutorizador") || User.IsInRole("Administrator"))
                                                    {
                                                        <button type="submit" class="btn btn-success AuthorizeItem" id="btnAuthorize"> Aprobar Factura</button>
                                                        <button type="submit" class="btn btn-danger RefuseItem" id="btnRefuse"> Rechazar Factura</button>
                                                    }

                                                }
                                                @if (Model.StateBill.Name == "Aprobado")
                                                {
                                                    @if (User.IsInRole("MessageBillProcesator") || User.IsInRole("Administrator"))
                                                    {
                                                        <button type="submit" class="btn btn-danger FinishedItem" id="btnFinished"> Procesar Factura</button>
                                                    }
                                                }
                                            }
                                        }
                                        else
                                        {
                                            if (Model.State.Name != "Tramitado")
                                            {
                                                <input type="submit" value="Guardar" class="btn btn-primary col-sm-2" id="btnRefresh" />
                                            }
                                            @if (Model.Type.Name == "Paquete")
                                            {
                                                @if (Model.State.Name == "En Transito" || Model.State.Name == "En Proceso")
                                                {
                                                    <button data-id="@Model.Id" type="button" class="btn btn-warning  receiveItem col-sm-2" data-toggle="modal" data-target="#RecPacDialog">Recibir</button>
                                                }
                                            }
                                            else
                                            {
                                                @if (Model.State.Name == "Ingresado")
                                                {
                                                    <button type="button" data-id="@Model.Id" class="btn btn-warning col-sm-2 receiveItem" id="btnReceive">Recibir</button>
                                                }
                                                @if (Model.State.Name == "Recibido")
                                                {
                                                    <button data-id="@Model.Id" type="button" class="btn btn-danger closeItem" data-toggle="modal" data-target="#closeDialog">Cerrar</button>
                                                }

                                            }
                                        }
                                    }
                                    <a asp-action="IndexMe" class="btn btn-danger col-sm-2 ">Cancelar</a>
                                </div>
                                <div class="col col-4">

                                </div>
                            </div>
                        </div>

                    </div>

                    <partial name="_CloseMessageDialog" />
                    <partial name="_CloseMessagePackage" />
                    <partial name="_Bill" />
                    <partial name="_CheckMessageDialog" />
                </form>
            </section>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })

        $(document).ready(function () {
            document.getElementById("StateId").disabled = true;
            document.getElementById("StateIdOld").value = document.getElementById("StateId").value;
            var item_to_ReceiveMessage;
            var note;



            //Operacion Factura
            $("#btnReceive").click(function () {
                item_to_ReceiveMessage = document.getElementById("Id").value;
                note = document.getElementById("Transaction_Observation").value;
                window.location.href = '/Messages/ReceiveMeMessage?id=' + item_to_ReceiveMessage + "&" + "note=" + note;
            });



            //Operacion
            $("#btnYesPackage").click(function () {
                item_to_ReceiveMessage = document.getElementById("Id").value;
                note = document.getElementById("Transaction_Observation").value;
                window.location.href = '/Messages/ReceiveMeMessage?id=' + item_to_ReceiveMessage + "&" + "note=" + note;
            });



            /*
            //DATA
            //Operacion Recibir Factura
            $("#btnReceiveBill").click(function () {
                if (note != null)
                    window.location.href = '/Messages/ReceiveMeMessage?id=' + item_to_ReceiveMessage + "&" + "note=" + note;
                else
                    window.location.href = '/Messages/ReceiveMeMessage?id=' + item_to_ReceiveMessage + "&" + "note=";
            });


            //Operacion
            $("#btnYesDelete").click(function () {
                if (note != null)
                    window.location.href = '/Messages/FinishedMeMessage?id=' + item_to_closeMessage + "&" + "note=" + note;
                else
                    window.location.href = '/Messages/FinishedMeMessage?id=' + item_to_closeMessage + "&" + "note=";
            });




            //Recibir Paquete
            //Capturar Datos
            $('.receiveItem').click((e) => {
                item_to_ReceiveMessage = document.getElementById("Id").value;
                note = document.getElementById("Transaction_Observation").value;
            });

            //Cerrar Elemento
            var item_to_closeMessage;
            //Capturar Datos
            $('.closeItem').click((e) => {
                item_to_closeMessage = e.currentTarget.dataset.id;
                note = document.getElementById("Transaction_Observation").value;
            });

            //Capturar Datos
            $('.AuthorizeItem').click((e) => {
                item_to_ReceiveMessage = e.currentTarget.dataset.id;
                note = document.getElementById("Transaction_Observation").value;
            });
            //Capturar Datos
            $('.checkItem').click((e) => {
                item_to_ReceiveMessage = e.currentTarget.dataset.id;
                note = document.getElementById("Transaction_Observation").value;
            });
            //Capturar Datos
            $('.RefuseItem').click((e) => {
                item_to_ReceiveMessage = e.currentTarget.dataset.id;
                note = document.getElementById("Transaction_Observation").value;
            });

            //Capturar Datos
            $('.FinishedItem').click((e) => {
                item_to_ReceiveMessage = e.currentTarget.dataset.id;
                note = document.getElementById("Transaction_Observation").value;
            });
            */

            //Guardar
            $("#btnRefresh").click(function () {
                document.getElementById("TypeId").disabled = false;
                document.getElementById("CompanyId").disabled = false
                document.getElementById("StateId").disabled = false
                document.getElementById("Reference").disabled = false
                document.getElementById("Sender").disabled = false
                document.getElementById("StateBillId").disabled = false
                document.getElementById("Operation").value = "1";
            });
            //Autorizar Factura
            $("#btnAuthorize").click(function () {
                if (document.getElementById("CecoId").value == 0) {
                    alert('Debe Seleccionar un Centro de Costos');
                    return false;
                }
                else {
                    document.getElementById("TypeId").disabled = false;
                    document.getElementById("CompanyId").disabled = false
                    document.getElementById("StateId").disabled = false
                    document.getElementById("Reference").disabled = false
                    document.getElementById("Sender").disabled = false
                    document.getElementById("StateBillId").disabled = false
                    document.getElementById("Operation").value = "2";
                }
            });
            //Autorizar Rechazar
            $("#btnRefuse").click(function () {
                document.getElementById("TypeId").disabled = false;
                document.getElementById("CompanyId").disabled = false
                document.getElementById("StateId").disabled = false
                document.getElementById("Reference").disabled = false
                document.getElementById("Sender").disabled = false
                document.getElementById("StateBillId").disabled = false
                document.getElementById("Operation").value = "3";
            });
            //Autorizar Cerrar
            $("#btnFinished").click(function () {
                if (document.getElementById("NumberBill").value == "") {
                    alert('Debe ingresar un Consecutivo de Factura');
                    return false;
                }
                else
                    if (document.getElementById("CecoId").value == 0) {
                        alert('Debe Seleccionar un Centro de Costos');
                        return false;
                    }
                    else {
                        document.getElementById("TypeId").disabled = false;
                        document.getElementById("CompanyId").disabled = false
                        document.getElementById("StateId").disabled = false
                        document.getElementById("Reference").disabled = false
                        document.getElementById("Sender").disabled = false
                        document.getElementById("StateBillId").disabled = false
                        document.getElementById("Operation").value = "4";
                    }
            });
            //Visto Bueno
            $("#btnYesCheck").click(function () {
                document.getElementById("TypeId").disabled = false;
                document.getElementById("CompanyId").disabled = false
                document.getElementById("StateId").disabled = false
                document.getElementById("Reference").disabled = false
                document.getElementById("Sender").disabled = false
                document.getElementById("StateBillId").disabled = false
                document.getElementById("Operation").value = "5";
            });
        });
    </script>
}