@model Refosus.Web.Models.ShoppingViewModel
@{
    ViewData["Title"] = "CreateShopping";
    Layout = "~/Views/Shared/_Refosus1.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <section class="col col-lg-12 connectedSortable">
                <form asp-action="CreateShopping" enctype="multipart/form-data">
                    <div class="card card-primary">
                        <div class="card-header">
                            <a class="card-title">Crear Compra</a>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <input asp-for="Operation" class="form-control" hidden />
                            <input asp-for="DeleteItem" class="form-control" hidden />
                            <div class="row">
                                <div class="col col-sm-12">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row">
                                        <div class="col col-sm-3">
                                            <label asp-for="IdUserCreate" class="control-label"></label>
                                            <select asp-for="IdUserCreate" asp-items="Model.Users" class="form-control" disabled></select>
                                            <span asp-validation-for="IdUserCreate" class="text-danger"></span>
                                        </div>
                                        <div class="col col-sm-3">
                                            <label asp-for="CreateDate" class="control-label"></label>
                                            <input asp-for="CreateDate" class="form-control" disabled />
                                            <span asp-validation-for="CreateDate" class="text-danger"></span>
                                        </div>
                                        <div class="col col-sm-3">
                                            <label asp-for="UpdateDate" class="control-label"></label>
                                            <input asp-for="UpdateDate" class="form-control" disabled />
                                            <span asp-validation-for="UpdateDate" class="text-danger"></span>
                                        </div>
                                        <div class="col col-sm-3">
                                            <label asp-for="IdUserAssign" class="control-label"></label>
                                            <select asp-for="IdUserAssign" asp-items="Model.Users" class="form-control" disabled></select>
                                            <span asp-validation-for="IdUserAssign" class="text-danger"></span>
                                        </div>

                                        <div class="col col-sm-4">
                                            <label asp-for="IdState" class="control-label"></label>
                                            <select asp-for="IdState" asp-items="Model.ShoppingStates" class="form-control" disabled></select>
                                            <span asp-validation-for="IdState" class="text-danger"></span>
                                        </div>

                                        <div class="col col-sm-4">
                                            <label asp-for="IdProject" class="control-label"></label>
                                            <select asp-for="IdProject" asp-items="Model.Projects" class="form-control"></select>
                                            <span asp-validation-for="IdProject" class="text-danger"></span>
                                        </div>
                                        <div class="col col-sm-4">
                                            <label asp-for="IdUserProjectBoss" class="control-label"></label>
                                            <div><select asp-for="IdUserProjectBoss" asp-items="Model.Users" class="form-control" disabled></select></div>
                                            <span asp-validation-for="IdUserProjectBoss" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col col-sm-12">
                                            <div class="card card-success">
                                                <div class="card-header">
                                                    <div class="card-title">
                                                        <button id="PlusArticle" type="button" class="btn btn-primary addArticle" data-toggle="modal" data-target="#addArticle"><i class="oi oi-plus" style="color:white"></i></button>
                                                        Articulos
                                                    </div>
                                                    <div class="card-tools">
                                                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="col-md-12 table-responsive">
                                                        <table class="table table-hover table-striped display" id="tblDatos1">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.CodSap)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Description)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Reference)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Categories)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.SubCategories)
                                                                    </th>

                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.ShoppingUnits)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.ShoppingMeasures)
                                                                    </th>
                                                                    <th>
                                                                        @Html.DisplayNameFor(model => model.Quantity)
                                                                    </th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model.ItemsTemp)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.CodSAP)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.Description)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.Refence)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.Category.Name)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.SubCategory.Name)
                                                                        </td>

                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.Unit.Name)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.Measure.Name)
                                                                        </td>
                                                                        <td>
                                                                            @Html.DisplayFor(modelItem => item.Quantity)
                                                                        </td>
                                                                        <td>
                                                                            <button type="button" data-id="@item.Id" class="btn btn-danger deleteTempItem" data-toggle="modal" data-target="#DeleteDialogItemTemp"><i class="oi oi-trash" style="color:white"></i></button>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <button type="submit" class="btn btn-success col-sm-2" id="btnSaveReg">Guardar</button>
                            <button type="submit" class="btn btn-primary col-sm-2" id="btnCreateReg">Crear</button>
                            <a asp-action="Index" class="btn btn-danger col-sm-2 ">Cancelar</a>
                        </div>
                    </div>
                    <partial name="_DeleteDialogItemTemp" />
                    <partial name="_AddArticleDialog" />
                </form>
            </section>
        </div>
    </div>
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
        $(document).ready(function () {


        //Delete Article Temp
            var item_to_deleteTemp;
            $('.deleteTempItem').click((e) => {
                item_to_deleteTemp = e.currentTarget.dataset.id;
            });

            $("#btnYesDeleteTemp").click(function () {
                document.getElementById("DeleteItem").value = item_to_deleteTemp;
                document.getElementById("Operation").value = "5";
                Enable();
            });















            $("#btnAddArticle").click(function () {
                document.getElementById("Operation").value = "1";
                Enable();
            });
            $("#PlusArticle").click(function () {
                Clear();
            });
            $("#btnSaveReg").click(function () {
                Enable();
                Clear();
                document.getElementById("Operation").value = "2";
            });
            $("#btnCreateReg").click(function () {
                Enable();
                document.getElementById("Operation").value = "3";
            });
        });
        //Var Category Combo
        var cboCat = document.getElementById("IdCategory");
        cboCat.addEventListener("change", CombosSubCategory);
        //Var Unit-Measure Combo
        var cboUni = document.getElementById("IdUnit");
        cboUni.addEventListener("change", CombosMedida);
        //Var BossProject
        var cboProject = document.getElementById("IdProject");
        cboProject.addEventListener("change", UserProjectBoss);
        function Enable() {
            document.getElementById("IdUserCreate").disabled = false;
            document.getElementById("CreateDate").disabled = false;
            document.getElementById("UpdateDate").disabled = false;
            document.getElementById("IdUserAssign").disabled = false;
            document.getElementById("IdState").disabled = false;
            document.getElementById("IdUserProjectBoss").disabled = false;
        };
        function Clear() {
            document.getElementById("CodSap").value = null;
            document.getElementById("IdCategory").value = 0;
            document.getElementById("IdSubCategory").value = 0;
            document.getElementById("IdUnit").value = 0;
            document.getElementById("IdMeasure").value = 0;
            document.getElementById("Quantity").value = 0;
            document.getElementById("Description").value = null;
            document.getElementById("Reference").value = null;
            document.getElementById("Mark").value = null;
            document.getElementById("InternalOrder").value = null;
            document.getElementById("NumInternalOrder").value = null;
        };
        function CombosSubCategory() {
        fetch("@Url.Content("~/Shopping/CombosSubCategory")" + "?val=" + cboCat.value)
            .then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            })
            .then(function (data) {
                var cbo = null;
                cbo = document.getElementById("IdSubCategory");
                cbo.innerHTML = "";
                data.forEach(function (element) {
                    let cbo = document.getElementById("IdSubCategory");
                    let opt = document.createElement("option");
                    opt.appendChild(document.createTextNode(element.text));
                    opt.value = element.value;
                    cbo.appendChild(opt)
                })
            })
        };
        function CombosMedida() {
        fetch("@Url.Content("~/Shopping/CombosMeasure")" + "?val=" + cboUni.value)
            .then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            })
            .then(function (data) {
                var cbo = null;
                cbo = document.getElementById("IdMeasure");
                cbo.innerHTML = "";
                data.forEach(function (element) {
                    let cbo = document.getElementById("IdMeasure");
                    let opt = document.createElement("option");
                    opt.appendChild(document.createTextNode(element.text));
                    opt.value = element.value;
                    cbo.appendChild(opt)
                })
            })
        };
        function UserProjectBoss() {
            if (cboProject.value!=0)
            fetch("@Url.Content("~/Shopping/UserProjectBoss")" + "?UBP=" + cboProject.value)
            .then(function (result) {
                if (result.ok) {
                    return result.text();
                }
            })
                .then(function (data) {
                    document.getElementById("IdUserProjectBoss").value = data;
                })
    };
    </script>
}

